.icon-button {
  padding: 0.5rem;
  cursor: pointer;
  border: 0;
  border-radius: var(--rounded-base);
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.icon-button__icon {
  width: 20px;
  height: 20px;
}
